<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Home</title>
    <style media="screen">
        body {
            background-image: url('https://assets.ncr.com/content/ncr/us/en/home/blogs/payments/credit-card-fraud-detection/_jcr_content/root/container/container_238116401_/container_1439208595/container_copy/container_copy_copy/image_1179286073.coreimg.90.1000.jpeg/1663230696569/payments-credit-card-fraud-detection-03-05-21.jpeg');
            height: 100%;
            background-position: right center;
            background-repeat: repeat;
            background-attachment: fixed;
            background-size: 1024px 684px;
        }

        .card {
            background-color: #82d3fc40;
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <div class="col-lg-12">
            <form action="{{ url_for('result') }}" method="post">
                <br>
                <br>
                <div class="container">
                    <div class="row">
                        <div class="card"
                            style="width: 70%; height:20%; margin-top:1px; margin-bottom: 20px;text-decoration: underline; text-align:right;">
                            <div class="card-header" style="text-align: center">
                                <h1>Credit Card Fraud Detection Using different - different Machine Learning Algorithm
                                </h1>
                            </div>
                            <div class="card-body">
                                <div class="col-md-12 form-group" style="text-align: center">
                                    <h4>Want to predict the Credit Card Fraud ? Try filling the details....</h4>
                                    <br>
                                </div>
                                <div class="container-fluid">
                                    <div class="col-lg-12">
                                        <form action="{{ url_for('result') }}" method="post">
                                            <div class="form-group" style="text-align: center">
                                                <div class="row">
                                                    <div class="col-lg-4 col-md-4" style="text-align: center">
                                                        <label for="FLAG_CONT_MOBILE"><b>FLAG_CONT_MOBILE:</b></label>
                                                        <select id="FLAG_CONT_MOBILE" name="FLAG_CONT_MOBILE">
                                                            <option value="">-Please choose an option-</option>
                                                            <option value="0">0</option>
                                                            <option value="1">1</option>
                                                        </select>

                                                        <br>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4" style="text-align: center">
                                                        <label
                                                            for="REGION_RATING_CLIENT_W_CITY"><b>REGION_RATING_CLIENT_W_CITY:</b></label>
                                                        <select id="REGION_RATING_CLIENT_W_CITY"
                                                            name="REGION_RATING_CLIENT_W_CITY">
                                                            <option value="">-Please choose an option-</option>
                                                            <option value="0">1</option>
                                                            <option value="1">2</option>
                                                            <option value="1">3</option>
                                                        </select>
                                            
                                                        <br>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4" style="text-align: center">
                                                        <label for="FLAG_EMP_PHONE"><b>FLAG_EMP_PHONE:</b></label>
                                                        <select id="FLAG_EMP_PHONE" name="FLAG_EMP_PHONE">
                                                            <option value="">-Please choose an option-</option>
                                                            <option value="0">0</option>
                                                            <option value="1">1</option>
                                                        </select>
                                                        <br>
                                                        <br>
                                                        <br>
                                                    </div>

                                                    <div class="col-lg-4 col-md-4" style="text-align: center">
                                                        <label for="NAME_TYPE_SUITE"><b>NAME_TYPE_SUITE:</b></label>
                                                        <select id="NAME_TYPE_SUITE" name="NAME_TYPE_SUITE">
                                                            <option value="">-Please choose an option-</option>
                                                            <option value="0">0</option>
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                            <option value="4">4</option>
                                                            <option value="5">5</option>
                                                            <option value="6">6</option>
                                                        </select>
                                                        <br>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4" style="text-align: center">
                                                        <label
                                                            for="NAME_EDUCATION_TYPE"><b>NAME_EDUCATION_TYPE:</b></label>
                                                        <select id="NAME_EDUCATION_TYPE" name="NAME_EDUCATION_TYPE">
                                                            <option value="">-Please choose an option-</option>
                                                            <option value="0">0</option>
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                            <option value="4">4</option>
                                                        </select>
                                                        <br>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4" style="text-align: center">
                                                        <label for="NAME_HOUSING_TYPE"><b>NAME_HOUSING_TYPE:</b></label>
                                                        <select id="NAME_HOUSING_TYPE" name="NAME_HOUSING_TYPE">
                                                            <option value="">-Please choose an option-</option>
                                                            <option value="0">0</option>
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                            <option value="4">4</option>
                                                            <option value="5">5</option>
                                                        
                                                        </select>
                                                        <br>
                                                        <br>
                                                        <br>
                                                    </div>

                                                    <div class="col-lg-4 col-md-4" style="text-align: center">
                                                        <label for="FLAG_MOBIL"><b>FLAG_MOBIL:</b></label>
                                                        <select id="FLAG_MOBIL" name="FLAG_MOBIL">
                                                            <option value="">-Please choose an option-</option>
                                                            <option value="0">0</option>
                                                            <option value="1">1</option>
                                                        </select>
                                                        <br>
                                                    </div>

                                                    <div class="col-lg-4 col-md-4" style="text-align: center">
                                                        <label
                                                            for="REGION_RATING_CLIENT"><b>REGION_RATING_CLIENT:</b></label>
                                                        <select id="REGION_RATING_CLIENT" name="REGION_RATING_CLIENT">
                                                            <option value="">-Please choose an option-</option>
                                                            <option value="0">1</option>
                                                            <option value="1">2</option>
                                                            <option value="2">3</option>
                                                        </select>

                                                        <br>
                                                    </div>

                                                    <div class="col-lg-4 col-md-4" style="text-align: center">
                                                        <label for="FLAG_DOCUMENT_3"><b>FLAG_DOCUMENT_3:</b></label>
                                                        <select id="FLAG_DOCUMENT_3" name="FLAG_DOCUMENT_3">
                                                            <option value="">-Please choose an option-</option>
                                                            <option value="0">0</option>
                                                            <option value="1">1</option>
                                                        </select>
                                                        <br>
                                                        <br>
                                                        <br>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4" style="text-align: center">
                                                        <label for="FLAG_OWN_REALTY"><b>FLAG_OWN_REALTY:</b></label>
                                                        <select id="FLAG_OWN_REALTY" name="FLAG_OWN_REALTY">
                                                            <option value="">-Please choose an option-</option>
                                                            <option value="0">0</option>
                                                            <option value="1">1</option>
                                                        </select>
                                                        <br>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4" style="text-align: center">
                                                        <label
                                                            for="EMERGENCYSTATE_MODE"><b>EMERGENCYSTATE_MODE:</b></label>
                                                        <select id="EMERGENCYSTATE_MODE" name="EMERGENCYSTATE_MODE">
                                                            <option value="">-Please choose an option-</option>
                                                            <option value="0">0</option>
                                                            <option value="1">1</option>
                                                  
                                                        </select>
                                                        <br>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4" style="text-align: center">
                                                        <label for="NAME_INCOME_TYPE"><b>NAME_INCOME_TYPE:</b></label>
                                                        <select id="NAME_INCOME_TYPE" name="NAME_INCOME_TYPEE">
                                                            <option value="">-Please choose an option-</option>
                                                            <option value="0">0</option>
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                            <option value="4">4</option>
                                                            <option value="5">5</option>
                                                            <option value="6">6</option>
                                                            <option value="7">7</option>
                                                            
                                                        </select>
                                                        <br>
                                                        <br>
                                                        <br>
                                                    </div>
                                                    <div class="col-md-12 form-group" style="text-align: center">
                                                        <button type="submit" class="btn btn-dark">Submit</button>
                                                    </div>
                                                    <br>
                                                    <div class="col-md-12 form-group" style="text-align:center">
                                                        <h3>{{Predict}}</h3>

                                                    </div>
                                                </div>

                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>


</html>